[Unit]
Description=Keiths TOOHOT shutdown service

[Service]
Type=simple
ExecStart=/data/craco/ban115/toohot/venv/bin/toohot
Restart=on-failure

[Install]
WantedBy=default.target